<div layout="row" flex id="all">
  <div>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="edit"
              md-is-locked-open="$mdMedia('gt-sm')&&!close"
              style="background-color: #A0B0C0;"> <!-- #DBDAC9 also nice -->
    <md-content style=" padding-left: 20px; padding-right: 20px; width: 280px; background-color: transparent;" ng-click="cancelSelect()">
      <!--<h2 class="md-title">Dimensions</h2>-->
      <div layout="row" style="margin-top: 10px;">
        <md-input-container style="width: 100px;">
          <label>Grid width</label>
          <md-select ng-model="w">
            <md-option ng-repeat="_ in range(10) track by $index" value="{{$index+1}}">{{$index+1}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container style="width: 100px;">
          <label>Grid height</label>
          <md-select ng-model="h">
            <md-option ng-repeat="_ in range(10) track by $index" value="{{$index+1}}">{{$index+1}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <p class="md-caption" style="margin: 0">Warning: Changing dimensions will remove any elements that no longer fit.</p>
      <!--<h2 class="md-title">Grid cells</h2>-->
      <hr>
      <div style="margin-left: -10px;">
        <md-button ng-repeat="(id, info) in cent"
                   class="md-icon-button element"
                   title="{{::info.name|capitalize}}"
                   aria-label="{{::info.name|capitalize}}"
                   ng-click="select(id); $event.stopPropagation()"
                   ng-class="getSelectClass(id)">
                   <md-icon ng-attr-md-svg-src="witness:{{::id}}{{info.color ? color : ''}}{{id == 'triangle' ? (count%3) : ''}}"></md-icon>
        </md-button>
      </div>
      <div style="margin-top: 20px;">
        <md-button ng-repeat="(id, name) in ccodes"
                   style="background-color: {{::name}};"
                   class="colorButton"
                   title="{{::name|capitalize}}"
                   aria-label="{{::name|capitalize}}"
                   ng-click="selectColor(id); $event.stopPropagation()"
                   ng-class="getSelectColorClass(id)">
        </md-button>
      </div>
      <md-card ng-show="obj == 'tetris' || obj == 'negative'"
               style="margin-top: 10px; margin-left: 0;
                      margin-right: 16px; background-color: rgba(255, 255, 255, 0.5)">
      <md-card-content ng-click="$event.stopPropagation()">
        <div ng-repeat="_ in range(5) track by $index">
          <md-button ng-repeat="_ in range(5) track by $index"
                     ng-class="['tcell', colorForShape($index, $parent.$index, neg)]"
                     aria-label="node"
                     ng-click="selectShape($index, $parent.$index);">
          </md-button>
        </div>
        <div style="margin-top: 10px">
          <md-checkbox ng-model="tetris[neg].f">
            Fixed orientation
          </md-checkbox>
        </div>
      </md-card-content>
      </md-card>
      <!--<h2 class="md-title">Points and lines</h2>-->
      <hr>
      <!-- Copy paste -->
      <div style="margin-left: -10px;">
        <md-button ng-repeat="id in gent"
                   class="md-icon-button element"
                   title="{{::id|capitalize}}"
                   aria-label="{{::id|capitalize}}"
                   ng-click="select(id); $event.stopPropagation()"
                   ng-class="getSelectClass(id)">
            <md-icon ng-attr-md-svg-src="witness:{{::id}}"></md-icon>
        </md-button>
      </div>
      <!--<h2 class="md-title">Restore to default</h2>-->
      <hr>
      <div style="margin-left: -10px;">
        <md-button class="md-icon-button element"
                   title="Restore individual cells, lines, and points to default grid"
                   aria-label="Restore individual cells, lines, and points to default grid"
                   ng-click="select('basic'); $event.stopPropagation()"
                   ng-class="getSelectClass('basic')">
          <md-icon md-svg-src="basic"></md-icon>
        </md-button>
        <md-button class="md-raised"
                   style="background-color: rgba(0, 0, 0, 0)"
                   title="Restore all cells, lines, and points to default grid"
                   aria-label=""
                   ng-click="eraseAll()">
            Erase All
        </md-button>
      </div>
      <hr>
      <div layout="row" style="margin-top: 0;">
        <md-input-container style="margin: 0;">
          <md-select ng-model="symmetry" aria-label="Symmetry">
            <md-option ng-repeat="(id, name) in scodes" ng-value="id">{{name}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    <p class="md-body">
    See <a href="/faq.html" target="_blank">FAQ</a> for feedback and remaining bugs.
    </p>
    </md-content>
  </md-sidenav>
  </div>

  <!--<div id="content" style="position: relative; top: 0; left: 0px; flex-grow: 1; display: flex; background-color: #708090;">-->
  <!-- TODO fix layout not changing -->
  <div flex layout="row" layout-align="{{editOpen() ? 'left start' : 'center start'}}" style="background-color: transparent;">
    <div id="content">
    <div style="position: relative;" id="gridAll">
    <div id="gridContainer" width="650" height="650" style="position: relative; top: 0; left: 0;">
      <svg id="grid" width="650" height="650" xmlns="http://www.w3.org/2000/svg" version="1.1" style="position: relative; top: 0; left: 0;">
        <g transform="translate(50,50)">
          <g id="gridBase" style="transform: translateZ(0)"></g>
          <g id="gridPath" style="pointer-events: none"></g>
        </g>
      </svg>
    </div>
    <div id="extras" width="450" height="450" style="position: absolute; top: 50px; left: 50px"></div>
    <div id="errors" width="450" height="450" style="position: absolute; top: 50px; left: 50px"></div>
    <div id="pathExtras" width="450" height="450" style="position: absolute; top: 50px; left: 50px"></div>
    </div>
    <p class="foregroundText" style="margin: 0; text-align: center;" class="md-subhead" ng-show="pub">Published as
    <a href="/{{pub}}" target="_blank" style="color: white;">{{origin}}/{{pub}}</p>
    </div>
    </div>
  </div>
</div>
<!-- Psssssst. A place to put the data param. -->
<div ui-view></div>
